<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/joy.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="columnLateral">
        <div id="joy1Div"></div>
      </div>
      <div class="columnCetral">
        <input id="slider" type="range" min="1" max="100" value="50" />
        <output id="slideout"></output>
        <button id="buttonf" class="button">Open</button>
        <button id="buttons" class="button">On</button>
        <button id="buttonb" class="button">Close</button>
      </div>
      <div class="columnLateral">
        <div id="joy2Div"></div>
      </div>
    </div>

    <script>
      // var url = "http://192.168.29.148:8000";
      var url = "http://10.42.0.1:8000";
      var Joy1 = new JoyStick("joy1Div", {
        index: 1,
        autoReturnToCenter: true,
        url: url,
      });
      var Joy2 = new JoyStick("joy2Div", {
        index: 2,
        autoReturnToCenter: true,
        url: url,
      });
      var slider = document.getElementById("slider");

      document.getElementById("buttonf").addEventListener("click", function () {
        loadText("open");
      });
      document.getElementById("buttonb").addEventListener("click", function () {
        loadText("close");
      });
      document.getElementById("buttons").addEventListener("click", () => {
        ChangeButtonColor();
      });
      slider.oninput = function () {
        var val = document.getElementById("slider").value;
        loadText("sensitivity&sen=" + val);
      };

      function loadText(action) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url + "/ambf/apijoy/");
        xhr.setRequestHeader(
          "Content-type",
          "application/x-www-form-urlencoded"
        );
        xhr.send("action=" + action);
      }

      function ChangeButtonColor() {
        var bsensor = document.getElementById("buttons");
        if (bsensor.innerText === "Of") {
          bsensor.style.background = "#3e8e41";
          bsensor.innerText = "On";
          loadText("On");
        } else {
          bsensor.style.background = "#8e3e4f";
          bsensor.innerText = "Of";
          loadText("Of");
        }
      }
    </script>
  </body>
</html>
